@import "variable";
@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";

html,
body {
  height: 100%;
  font-family: "HelveticaNeue";
}

@each $color, $value in $color-palette {
  .bg-#{$color} {
    background-color: $value !important;
  }
  .text-#{$color} {
    color: $value !important;
  }
}
