$orange: #F0AD4E;
$cyan: #56C0E0;
$blue: #1C7CD5;
$green: #5CB85C;
$red: #D9534F;

$light-blue: #DCEDF6;
$light-green: #E2EED8;
$light-orange: #FCF7E4;
$light-red: #EFDFDF;

$surface-100: #ECEEEF;
$surface-200: #DDDDDD;
$surface-300: #818A91;
$surface-400: #777777;
$surface-500: #55595C;
$surface-600: #373A3C;

$color-palette: (
  "orange": #F0AD4E,
  "cyan": #56C0E0,
  "blue": #1C7CD5,
  "green": #5CB85C,
  "red": #D9534F,
  "light-blue": #DCEDF6,
  "light-green": #E2EED8,
  "light-orange": #FCF7E4,
  "light-red": #EFDFDF,
  "surface-100": #ECEEEF,
  "surface-200": #DDDDDD,
  "surface-300": #818A91,
  "surface-400": #777777,
  "surface-500": #55595C,
  "surface-600": #373A3C,
)
