@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-Heavy.woff2') format('woff2'),
  url('HelveticaNeueCyr-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-Black.woff2') format('woff2'),
  url('HelveticaNeueCyr-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
  url('HelveticaNeueCyr-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('HelveticaNeueCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

